:root {
    --primary-text-color: #212121;
    --secondery-text-color: #757575;
    --activ-text-color: #2196f3;
  }

body {
    background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1, h2, h3, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
}

.container {
  width: 1200px;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  align-items: center;
  }

  .header-container, .nav-list {
  display: flex;
  align-items: center;
  }
  
  .header-link {
    color: var(--primary-text-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-right: 93px;
  }
  
  span {
    color: var(--activ-text-color);
  }
  
  .nav-list .nav-item + .nav-item {
    margin-left: 50px; 
  } 

   .nav-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .nav-link:hover,
  .header-mail:hover,
  .header-phone:hover,
  .nav-link:focus,
  .header-mail:focus,
  .header-phone:focus {
    color: var(--activ-text-color);
  }
  
  .header-contact {
    display: flex;
    display: block;
    margin-left: 330px;
  }

  .header-mail {
    margin-right: 50px;
  }

  .header-phone,
  .header-mail {
    color: var(--secondery-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-phone {
  margin: 0;
}

/* Секція Hero */
/* .hero {
  width: 1600px;
  height: 600px;
  background-color: #2F303A;
  align-items: center; */
}

.conteiner-hero,
.footer {
  display: flex;  
  background-color: #2F303A;
    width: 1200px;
    height: 600px;
    align-items: center;
}

.hero-title {
color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
min-width: 696px;
padding-top: 200px;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
} 

.hero-btn {
    color: #FFFFFF;
    background-color: var(--activ-text-color);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    margin-bottom: 200px;
}

.advantage-list {
display: flex;
margin-left: 215px; 
margin-bottom: 94px;
}

.advantage-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    width: 270px;
    height: 16px;
    margin-right: 30px;
}

.advantage-descr {
    color: var(--secondery-text-color);
    font-size: 14px;
    line-height: 1.71;
    width: 270px;
    height: 75px;
}

.aurwork-list {
  display: flex;
  margin-left: 215px;
}

/* .container-team {
  width: 270px;
  height: 368px;
} */

.aurwork-title,
.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.aurwork-item {
  margin-right: 30px;
  margin-bottom: 188px;
}

.container-team:last-child {
  margin-right: 0;
}

.team-list {
  display: flex;
  margin-left: 215px; 
}

.team-item {
margin-right: 30px;
margin-bottom: 94px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-descr {
    color: var(--secondery-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.footer-link {
    color: #ffffff;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
   .footer-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .address {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-mail,
  .footer-phone {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  